.mob-menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 265px;
  background-color: #fff;
  z-index: 2000;
  padding: 50px 0;
  overflow-y: auto;
  transition: 0.5s;
  transform: translate3d(-370px, 0, 0);

  &.is-active{
    transform: translate3d(0, 0, 0);
  }

  &__bg{
    transition: 0.2s;
    position: fixed;

    &.is-active{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
  }

  &__btn-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 22px;
      left: 14px;
      width: 24px;
      height: 3px;
      border-radius: 3px;
      background-color: #282632;
    }

    &::before{
      transform: rotate(45deg);
    }

    &::after{
      transform: rotate(-45deg);
    }
  }

  &__wrap{}
  &__nav-list{}
  &__nav-item{}

  &__nav-link{
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 30px;
    color: #CC3366;
    transition: 0.1s;

    &:hover, &.is-active{
      color: #fff;
      background-color: #282632;
    }
  }

  &__social-list{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
  }

  &__social-item{
    margin-left: 10px;
  }

  &__social-link{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;

    &--inst{
      background-image: url('/img/instagram.svg');
    }
    &--ytube{
      background-image: url('/img/youtube.svg');
    }
    &--fb{
      background-image: url('/img/facebook.svg');
    }
  }

  &__store-list{
    margin-left: 30px;
    margin-top: 25px;
  }

  &__store-item{
    font-size: 0;

    & + &{
      margin-top: 10px;
    }
  }

  &__store-link{
    display: inline-block;
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;

    &--ios{
      background-image: url('/img/store-1.svg');
    }

    &--google{
      background-image: url('/img/store-2.svg');
    }
  }
}