.new-video{
  &__title{
    text-align: center;
    line-height: 1;
    font-size: 64px;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: RobotoCondensedLight;
    color: #333333;
  }

  &__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 1220px;
    margin: 0 auto;

    &--mobile{
      display: none;
    }
  }

  &__item{
    margin-top: 45px;
  }

  &__btn-wrap{
    height: 50px;
    margin-top: 65px;
    text-align: center;
  }

  &__btn{
    display: inline-block;
    padding: 12px 24px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-family: RobotoCondensedRegular;
    background: #bc2d7f;
    color: #ffffff;
  }

  &__subscribe{
    display: block;
    margin-top: 25px;
    padding: 0 15px;
    text-align: center;
    color: #666666;

    &--mobile{
      display: none;
    }
  }

  &__text{
    max-width: 280px;
    margin: 0 auto;
    line-height: 1.5;

    &--mobile{}
  }

  &__play-img{
    margin-top: 15px;
  }

  &__link-wrap{
    font-family: "RobotoBold";
  }

  .slick-list{
    padding-bottom: 40px;
  }

  .slick-dots{
    bottom: 10px;

    li{
      width: 30px;

      button{
        height: 30px;
        width: 30px;

        &::before{
          top: 10px;
          left: 10px;
          width: 10px;
          height: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}

.all-videos{
  height: 250px;
  font-size: 0;

  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #bc2d7f;
    border-radius: 5px;
  }

  &__link-text{
    font-size: 32px;
    color: #ffffff;
  }
}