.procedures{
  padding: 80px 40px 140px;
  background-image: url('/img/procedures-bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: #E6E7EB;
  position: relative;

  &__title{
    text-align: center;
    color: #333333;
  }

  &__list{
    max-width: 1240px;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__wrap{
    opacity: 1 !important;
  }

  &__item{
    position: relative;
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
    background-color: #fff;
    width: 32.2%;
    border-radius: 5px;
  }

  &__item-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
  }

  &__item-popup-wrap{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 30px;
    overflow: hidden;
    z-index: 2;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 20px 48px 0 rgba(55, 71, 79, 0.75);
  }

  &__item-popup{
  }

  &__item-title{
    color: #333333;
  }

  &__item-text{
    margin-top: 10px;
    max-width: 300px;
  }

  &__item-btn-wrap{
    margin-top: auto;
    position: relative;
    height: 85px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__item-btn{
    &:hover{
      & ~ .procedures__item-icon{
        &--1{
          background-image: url('/img/procedures-item-bg-1-h.svg');
        }

        &--2{
          background-image: url('/img/procedures-item-bg-2-h.svg');
        }

        &--3{
          background-image: url('/img/procedures-item-bg-3-h.svg');
        }

        &--4{
          background-image: url('/img/procedures-item-bg-4-h.svg');
        }

        &--5{
          background-image: url('/img/procedures-item-bg-5-h.svg');
        }

        &--6{
          background-image: url('/img/procedures-item-bg-6-h.svg');
        }
      }
    }
  }

  &__item-icon{
    position: absolute;
    width: 90px;
    height: 75px;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 75px 75px;
    transition: 0.1s;

    &--1{
      background-image: url('/img/procedures-item-bg-1.svg');
    }

    &--2{
      background-image: url('/img/procedures-item-bg-2.svg');
    }

    &--3{
      background-image: url('/img/procedures-item-bg-3.svg');
    }

    &--4{
      background-image: url('/img/procedures-item-bg-4.svg');
    }

    &--5{
      background-image: url('/img/procedures-item-bg-5.svg');
    }

    &--6{
      background-image: url('/img/procedures-item-bg-6.svg');
      background-position: left 10px;
    }
  }

  &__popup-title{
    color: #333;
  }

  &__popup-list{
  }

  &__popup-item{
    margin-top: 10px;
  }

  &__popup-link{
    &--discount{
      display: inline-block;
      padding: 2px 5px 3px;
      margin-left: 5px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background-color: #cc3366;
      color: #ffffff;
      text-transform: uppercase;

      &.is-hide{
        display: none;
      }
    }
  }

  &__mob-list{
    display: none;
  }
}
