.procedures{
  padding: 80px 40px 140px;
  background-image: url('/img/procedures-bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: #E6E7EB;
  position: relative;

  &__title{
    text-align: center;
    color: #333333;
  }

  &__list{
    max-width: 1240px;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__wrap{
    opacity: 1!important;
  }

  &__item-wrap{
    position: relative;
    z-index: 1;
  }

  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
    background-color: #fff;
    width: 32.2%;
    background-repeat: no-repeat;
    background-position: 20px calc(100% - 12px);
    border-radius: 5px;
    transition: 0.75s;

    &--1{
      background-image: url('/img/procedures-item-bg.svg');
    }

    &--2{
      background-image: url('/img/procedures-item-bg-2.svg');
    }

    &--3{
      background-image: url('/img/procedures-item-bg-3.svg');
    }

    &--4{
      background-image: url('/img/procedures-item-bg-4.svg');
    }

    &--5{
      background-image: url('/img/procedures-item-bg-5.svg');
    }

    &--6{
      background-image: url('/img/procedures-item-bg-6.svg');
    }
  }

  &__item-popup-wrap{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 30px;
    overflow: hidden;
    z-index: 2;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 20px 48px 0 rgba(55, 71, 79, 0.75);
  }

  &__item-popup{
  }

  &__item-title{
    color: #333333;
  }

  &__item-text{
    margin-top: 10px;
    max-width: 300px;
  }

  &__item-btn-wrap{
    height: 85px;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__popup-title{
    color: #333;
  }

  &__popup-list{
  }

  &__popup-item{
    margin-top: 10px;
  }

  &__popup-link{
    &--discount{
      color: #666;
      text-transform: uppercase;
    }
  }

  &__mob-list{
    display: none;
  }
}