.services-page{
  max-width: 1440px; 
  margin: 0 auto;
  padding: 40px 20px 100px;

  &__test-wrap{
    display: flex;
    justify-content: center;
    margin: 52px auto 0;
    max-width: 100%;
    padding: 50px 50px 40px 44px;
    border-radius: 5px;
  }

  &__block-title-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content-wrap{
    max-width: 1440px;
    margin: 0 auto;
  }

  &__block-title{
    line-height: 1;
    font-size: 64px;
    font-weight: normal;
    font-family: RobotoCondensedLight, sans-serif;
    color: #333333;
  }

  &__category-list{
    margin-top: 60px;

    &--services{
      margin-top: 40px;
    }
  }
}


.test-block{
  max-width: 400px;

  &__text-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 705px;
    width: 100%;
  }

  &__text{
    margin-top: 25px;
    line-height: 1.5;
    font-size: 20px;
    font-family: RobotoCondensedLight, sans-serif;
    color: #666666;

    &--services{
      max-width: 400px;
      margin-top: 0;
      margin-left: 32px;
      font-size: 24px;
      color: #333333;
      font-family: RobotoRegular, sans-serif;
    }
  }

  &__button{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 22px;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 20px;
    font-family: RobotoRegular, sans-serif;
    color: #666666;

    &--services{
      margin-top: 5px;
      /* background-color: #cc3366; */
      color: #fff;
      padding: 12px 22px 14px;
      transition: 0.1s;
      font-family: RobotoMedium, sans-serif;

      &:hover{
        /* background-color: #791d4b; */
      }
    }
  }
}


.category-item{
  padding: 12px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0 40px 40px -20px #999999;
  border-radius: 5px;

  &__title{
    font-size: 24px;
    font-family: RobotoCondensedRegular;
    color: #333333;
    font-weight: normal;
    margin-left: auto;
  }

  &__services-list{
    margin-top: 10px;
    border-top: 1px solid #d9d9d9;
  }
}


.strings-list{
  &__item{
    margin-top: 10px;
  }

  &__link{
  }

  &__stock{
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 9px;
    border-radius: 3px;
    padding: 0 5px 2px;
    background-color: #cc0066;

    &:empty{
      display: none;
    }
  }
}