.head-slider{
  max-width: 1300px;
  width: ~'calc(100% - 60px)';
  margin: 25px auto 0;
  overflow: hidden;
  padding-bottom: 85px;

  &__list{}

  &__item{
    margin: 0 10px;
  }

  .slick-list{
    overflow: initial;
  }

  .slick-track{
    display: flex;
  }

  .slick-slide{
    height: auto;
    width: ~'calc((100vw - 60px) / 100 * 29.230769231 - 15px)';

    &:nth-child(3n+2){
      width: ~'calc((100vw - 60px) / 100 * 41.538461538 - 10px)';
    }
  }
}
