.title-block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url('/img/title-block.jpg');
  background-position: center;
  background-size: cover;

  &__title{
    color: #ffffff;
    text-align: center;
  }
}