@media all and (max-width: 1600px){
  .features{
    &__wrap{
      padding: 85px 40px 100px;
      max-width: 1480px;
    }
  }
}

@media all and (max-width: 1220px){
  .features{
    &__wrap{
      padding: 75px 40px 100px;
      flex-direction: column;
    }

    &__title-wrap{
      max-width: 100%;
    }

    &__title.title__band::before{
      display: none;
    }

    &__list{
      margin-top: 50px;
      margin-left: 0;
    }
  }
}

@media all and (max-width: 1220px){
  .features{
    &__wrap{
      padding: 40px 40px 80px;
    }
  }
}