@media screen and (max-width: 1121px) {
  .test-1 .grid.grid-pad.testing-index-block .col-1-1 {
    padding-bottom: 29px
  }
}

@media screen and (max-width: 900px) {
  .grid.services.testing > .popup-title-wrap {
    width: 100%
  }

  .grid.services.testing > .description-wrap {
    margin: 35px 50px 0 0;
    width: ~'calc(100% - 182px)'
  }

  .grid.services.testing > .p-button-wrap {
    margin: 35px 0 0
  }
}

@media screen and (max-width: 1099px) {
  .content .grid.grid-pad.services.testing {
    width: ~'calc(66.66% + 265px)';
    margin-left: 20px
  }

  .services-category {
    padding: 0 0 90px
  }
}

@media screen and (max-width: 1024px) {
  .index-title{
    font-size: 44px;
  }

  .grid.content p {
    color: #333333;
  }

  .grid.content .col-1-2:first-child p {
    font-size: 20px;
    line-height: 1.8em;
  }

  .grid.content .col-1-2:last-child p, .grid.content ul.list li.item {
    font-size: 18px;
    line-height: 1.8em;
  }

  .grid.content ul li{
    font-size: 20px;
    line-height: 1.8em;
    color: #333333;
  }

  .grid.content blockquote {
    line-height: 1.8
  }
}

@media screen and (max-width: 918px) {
  .content .grid.grid-pad.services.testing {
    width: 100%;
    margin: 0;
    padding: 60px 20px 0
  }

  .content .services.testing p:first-child {
    width: 66.3%
  }

  .content .services.testing p.button {
    width: 33.2%
  }

  .test-1.test-2 p.about-testing {
    font-size: 24px
  }

  .service-proc {
    padding: 50px 25px 20px
  }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
  .discount-text p, .grid.content, .grid.content.list-padding, .information-block {
    padding-left: 30px
  }

  .discount-text p {
    font-size: 28px
  }

  header.header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .col-1-2.col-head {
    width: 50%;
    margin-top: 70px;
    display: none
  }

  .interest-text-block, img.photo-interest {
    display: inline-block;
    vertical-align: top
  }

  .header .grid {
    width: 390px
  }

  .grid.content {
    padding-top: 0
  }

  .interest-image {
    text-align: center;
    width: 100%
  }

  img.interest-img {
    width: 100%
  }

  .interest-text-block {
    width: 65%;
    margin-left: 15px
  }

  p.interest-head {
    margin-top: 0
  }

  .grid.content .col-1-2 {
    display: block;
    width: 100%;
    margin-top: 10px
  }

  .grid.content .col-1-2.service-right-col {
    margin-top: 60px
  }

  .grid.content .col-1-2:first-child {
    display: block;
    padding-right: 20px;
    width: 100%;
    padding-top: 30px
  }

  .grid.content .col-1-2.int {
    padding-right: 20px
  }

  .all-product.bottom {
    padding-top: 15px;
    padding-left: 50px
  }

  .our-block {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding-left: 50px
  }

  .worry-list {
    padding-left: 30px
  }

  .procedures-block .col-1-2, .procedures-block .col-1-2.image {
    width: 100%
  }

  h2.block-title {
    height: 70px
  }

  a.technology-link:hover .technology-text {
    display: none
  }

  .grid.grid-pad.contacts .col-1-2:last-child {
    margin-top: 20px;
    text-align: center;
    width: 100%
  }

  .grid.grid-pad.contacts .col-1-2:first-child {
    width: 100%
  }

  .technology-block .technology-wrap {
    top: 5% !important
  }

  .technology-block .technology-wrap p.technology-title {
    font-size: 32px;
    padding-left: 30px
  }

  .technology-block .technology-wrap p, .technology-block .technology-wrap p.technology-text {
    font-size: 16px;
    padding-left: 30px
  }
}

@media screen and (max-width: 415px) {
  .interest-image, .proc-upgrade p.title {
    text-align: center
  }

  h1.product-title {
    font-weight: 400;
    font-family: RobotoCondensedLight;
    text-transform: uppercase;
    font-size: 30px;
    width: 280px;
    color: #666;
    line-height: 1.3em;
    padding-bottom: 32px
  }

  .information-block {
    padding-left: 30px
  }

  .grid.content, .grid.content.list-padding {
    padding-left: 20px
  }

  .col-1-2.col-head {
    width: 50%;
    margin-top: 70px;
    display: none
  }

  .interest-text-block, img.photo-interest {
    display: inline-block;
    vertical-align: top
  }

  .grid.content {
    padding-top: 0
  }

  .interest-text-block {
    width: 100%;
    margin-left: 0
  }

  p.interest-head {
    margin-top: 12px
  }

  .grid.content .col-1-2 {
    display: block;
    width: 100%;
    margin-top: 10px
  }

  .grid.content .col-1-2:first-child {
    display: block;
    padding-right: 20px;
    width: 100%;
    padding-top: 30px
  }

  .proc-upgrade {
    padding-left: 0;
    padding-top: 61px;
    background-position: center top
  }

  .our-block {
    width: 100%;
    padding-top: 32px
  }

  p.text {
    text-align: left
  }

  .procedures {
    text-align: center
  }

  .all-product.bottom {
    padding-top: 25px;
    display: block;
    text-align: center
  }

  .worry-list {
    padding-left: 30px;
    padding-bottom: 25px
  }

  a.technology-link:hover .technology-text {
    display: none !important
  }

  .grid.grid-pad.contacts .col-1-2:last-child {
    margin-top: 20px;
    text-align: center;
    width: 100%
  }

  .grid.grid-pad.contacts .col-1-2:first-child, .worry-list {
    width: 100%
  }

  .answer-text{
    clear: both;
    padding-top: 10px;
  }
}

@media screen and (max-width: 1055px){
  .menu-button.active, ul.menu {
    background: #713d58
  }

  .popup-for-menu {
    display: none;
    position: absolute;
    z-index: 20;
    width: 100%
  }

  .menu-button {
    display: inline-block;
    width: auto;
    padding: 5px 15px
  }

  ul.menu {
    width: 100%;
    padding-bottom: 20vh
  }

  li.menu-item.active {
    background: #8c3e67
  }

  li.menu-item:hover, li.menu-item:hover a.item {
    background: #4a1531
  }

  li.menu-item {
    display: block;
    background: #713d58;
    text-align: left;
    padding: 0 30px
  }

  li.menu-item:first-child {
    padding-top: 5px
  }

  li.menu-item a.item {
    background: #713d58;
    color: #fff;
    font-size: 18px;
    padding: 13px 0;
    border-bottom: 1px solid #915a78
  }

  li.menu-item a.item.active {
    background: #8c3e67
  }
}
@media screen and (max-width: 1000px) {
  .test-1.test-2 p.about-testing {
    margin-top: 30px
  }

  .test-1 .grid.grid-pad.testing-index-block .col-1-1 {
    padding-bottom: 51px
  }

  .grid.grid-pad.specialist .col-1-2:first-child {
    width: 45%;
    min-width: 300px;
  }

  .grid.grid-pad.specialist .col-1-2:last-child {
    width: 55%
  }

  .problems-wrapper {
    top: 53px
  }
}

@media screen and (max-width: 500px) {
  .content .grid.grid-pad h1.page-title {
    font-size: 30px
  }

  .col-1-4 {
    width: 100%;
    display: block;
    margin-bottom: 15px
  }

  p.string, p.string.center, p.string.right {
    text-align: center
  }

  .worry {
    background: 0 0
  }

  .worry .worry-list .left-col, .worry .worry-list .right-col {
    display: block;
    width: 100%;
    float: none
  }

  .specialist{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .spec-prof{
    margin: 0 auto;
  }

  .grid.grid-pad.specialists .col-1-4 {
    display: block;
    width: 100% !important
  }

  .grid.grid-pad.procedures-and-problems .col-1-2 {
    width: 100%
  }

  p.about-testing {
    width: 100%;
    font-size: 14px
  }

  h1.testing-title {
    font-size: 24px
  }

  .text-block h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 960px) {
  .left-col, .right-col {
    display: block;
    width: 100%
  }

  .white-popup .services.testing p.button {
    display: block
  }

  .white-popup .services.testing p.button a.go-to-test {
    margin: 0
  }

  .technology-block .technology-wrap {
    top: 5%
  }

  .right-col {
    margin-left: 0
  }

  .worry-list .left-col, .worry-list .right-col {
    display: inline-block;
    width: 50%
  }

  .worry-list .right-col {
    float: left
  }

  .grid.grid-pad.specialists, .grid.grid-pad.head-grid {
    padding-left: 30px
  }

  .problems-wrapper {
    top: 53px
  }
}

@media screen and (max-width: 940px) {
  .footer-block:nth-child(2) {
    width: 170px
  }

  .footer-block:nth-child(2) li {
    margin-bottom: 10px
  }

  .footer-row {
    margin-top: 20px
  }
}

@media screen and (max-width: 870px) {
  .grid.grid-pad.select_age .col-1-2 {
    width: 50%;
    padding-bottom: 10px
  }

  .grid.grid-pad.technology .col-1-2 {
    width: 50%;
    padding-right: 3px
  }

  .category {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    float: left;
    padding-bottom: 30px
  }

  .grid.grid-pad.services {
    padding-left: 60px
  }

  .content .services.testing p.button {
    margin: 30px 0 0;
    width: auto
  }

  .grid.grid-pad.services.testing {
    padding-right: 20px
  }

  .content .grid.grid-pad.services.testing {
    padding: 60px 20px 0 60px
  }

  .grid.grid-pad.head-grid, .grid.grid-pad.procedures-and-problems {
    padding-left: 30px
  }

  .content .services.testing p:first-child {
    width: 100%;
    max-width: 680px;
    min-width: initial;
    margin-top: 0
  }

  .grid.grid-pad.specialists .col-1-4 {
    width: 50%;
    vertical-align: top;
    min-height: 420px
  }

  .grid.grid-pad.head-grid .col-1-2:first-child {
    width: 100%
  }

  .grid.grid-pad.head-grid .col-1-2:last-child {
    width: 100%;
    margin-top: 30px;
    padding-left: 30px
  }

  .special-price .col-1-3 {
    width: 33.3%
  }

  .grid.grid-pad.helpful .col-1-2, .grid.grid-pad.helpful .col-1-2:nth-child(3n), .services .col-1-3 {
    width: 50%
  }

  .text-a-wrap {
    margin-top: 20px
  }

  p.video-text {
    font-size: 18px
  }

  .services.col-1-3.editable {
    display: none
  }
}

@media screen and (max-width: 600px) {
  .category, .col-1-3, .services .col-1-3 {
    display: block;
    width: 100%
  }

  .category-name a.link, .proc a, p.text {
    font-size: 20px
  }

  .category, .col-1-3, .content .grid.grid-pad.technology .col-1-2, .grid.grid-pad.helpful .col-1-2:nth-child(3n), .white-popup .col-1-2 {
    width: 100%
  }

  img.category-img {
    height: auto
  }

  .category {
    text-align: left;
    padding-bottom: 30px
  }

  .grid.grid-pad.services {
    padding-left: 20px
  }

  .content .grid.grid-pad.services.testing {
    padding: 60px 20px 0
  }

  .proc {
    max-width: 100%;
    padding-right: 20px
  }

  a.proc {
    padding-right: 0
  }

  a.technology-link:hover .technology-text {
    display: none
  }

  .grid.grid-pad.helpful .col-1-2 {
    width: 100%;
    margin: 0 auto
  }

  img.special-preview {
    object-position: 50% !important
  }

  p.technology-title {
    font-size: 26px
  }

  .technology-block .technology-wrap p.technology-title {
    font-size: 32px;
    padding-left: 30px
  }

  .technology-block .technology-wrap p {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 20px
  }
}
@media screen and (min-width: 1100px) {
  .all-product.category, .grid.grid-pad.question-page, .grid.grid-pad.services, h1.content-head-title {
    padding-left: 90px
  }

  h1.content-head-title {
    padding-top: 85px
  }

  .description-text {
    margin-left: 90px
  }

  .all-product.category {
    padding-top: 15px
  }

  .grid.grid-pad.question-page .col-1-2:last-child {
    min-width: 270px;
    width: 25%
  }

  .grid.grid-pad.question-page .col-1-2:first-child {
    width: ~'calc(100% - 270px)'
  }

  .answer-wrapper .grid.test .col-1-2:last-child {
    width: 80%
  }

  .grid.grid-pad.specialist {
    padding-left: 90px;
    padding-right: 90px
  }

  .grid.grid-pad.list {
    padding: 0 90px 40px
  }

  .grid.grid-pad.contacts {
    padding-left: 90px
  }

  .grid.grid-pad.contacts .col-1-2:last-child {
    text-align: right
  }

  .grid.grid-pad.about {
    padding-left: 90px;
    padding-top: 30px
  }
}
@media screen and (min-width: 1170px) {
  .grid.grid-pad.question-page .col-1-2:first-child {
    width: 75%;
  }
}
@media screen and (max-width: 700px) {
  .grid.grid-pad.specialist .col-1-2:last-child {
    width: 100%
  }

  .header-block:first-child, .header-block:last-child {
    display: none
  }

  header.header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  h1.product-title, h1.product-title.white, p.technology-title {
    line-height: 1em
  }

  .worry-list .left-col, .worry-list .right-col {
    display: block;
    width: 100%;
    float: none
  }

  .worry-list {
    padding-bottom: 30px
  }

  .grid.grid-pad.question-page .col-1-2:first-child, .grid.grid-pad.question-page .col-1-2:last-child {
    width: 100%;
    margin-bottom: 30px
  }

  .questions .answer-wrapper .grid.test .col-1-2:last-child {
    width: 54%
  }

  .questions .answer-wrapper .grid.test .col-1-2:first-child {
    width: 20%
  }

  .photo {
    text-align: center
  }

  img.photo {
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    width: 100%
  }

  .grid.grid-pad.list .col-1-4 {
    width: 100%;
    margin-bottom: 10px
  }

  .special-price .col-1-3 {
    width: 100%;
    padding: 10px 0 15px !important
  }

  .grid.grid-pad.about .col-1-2:last-child {
    width: 100%;
    padding-bottom: 60px
  }

  .grid.grid-pad.about .col-1-2:first-child, img.special-preview {
    width: 100%;
    padding-right: 20px;
  }

  .grid.grid-pad.about{
    padding-left: 20px;
  }
}
@media screen and (min-width: 1055px) {
  .popup-for-menu {
    display: block !important
  }
}

@media screen and (max-width: 1000px) {
  .footer-row, .footer-wrapper {
    padding: 0 60px
  }
}

@media screen and (max-width: 600px) {
  .news .col-1-2:nth-child(n) {
    width: 100%;
    margin: 10px 0 25px
  }

  .test-1.test-2 .grid.grid-pad.testing-index-block {
    background: url(../img/test_back_m.jpg) top center no-repeat
  }

  .test-1 .grid.grid-pad.testing-index-block .col-1-1 {
    max-width: 100%;
    background-size: 65% auto
  }

  .grid.services.testing > .description-wrap {
    width: 100%;
    margin: 25px 0 0;
    min-width: initial
  }

  .white-popup.all_service-popup h3.popup_title {
    font-size: 48px
  }

  .grid.services.testing > .p-button-wrap {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px
  }

  .grid.grid-pad.video {
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important
  }

  .video .col-1-3 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
}

@media screen and (max-width: 550px) {
  .discount-text p {
    padding-left: 20px;
    font-size: 24px
  }

  .grid.grid-pad.select_age .col-1-2 {
    width: 100%;
    padding-right: 15px
  }

  .news p.technology-title {
    font-size: 32px;
    margin-left: 30px
  }

  .buttons-grid .col-1-2.right {
    width: 100%;
    text-align: center
  }

  .grid.text .col-1-2.left {
    width: 30%;
    padding-right: 10px
  }

  .grid.text .col-1-2.right {
    width: 70%
  }

  p.ask-text {
    text-align: left
  }
}

@media screen and (max-width: 800px) {
  .testing-answer p, p.ans-link {
    margin-left: 0
  }

  .grid.grid-pad.testing-ans .col-1-2.left.ret-2 {
    width: 100%
  }

  .grid.grid-pad.testing-ans .col-1-2.left.ret-1:nth-child(3) {
    width: 100%;
    padding-right: 5%
  }

  .grid.grid-pad.testing-ans .col-1-2.acp-after {
    width: 100%
  }

  .img-test {
    text-align: left
  }

  .grid.grid-pad.testing-ans .col-1-2.bookmark {
    width: 100%;
    padding-right: 20px
  }

  p.ans-text {
    padding-left: 0
  }

  .acp-after .text.append {
    font-size: 14px;
    text-align: left;
    color: #666;
    margin-top: 10px;
    margin-bottom: 30px
  }

  .grid.grid-pad.video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .video .col-1-3 {
    width: 100%;
    padding: 0;
    margin-top: 45px
  }

  .footer-row, .footer-wrapper {
    padding: 0 30px
  }
}

@media screen and (max-width: 500px) {
  .grid.content .proc-upgrade p.title, .procedures {
    text-align: left
  }

  .proc-upgrade {
    padding-top: 80px;
    padding-left: 0;
    background-position: left 5%
  }

  .our-block {
    padding-top: 60px;
    padding-left: 0
  }

  p.text {
    margin: 0
  }

  .all-product.bottom {
    text-align: left;
    padding-left: 0
  }

  .grid.content.proc-upgrade {
    padding-bottom: 0
  }
}

@media screen and (max-width: 1280px) and (min-width: 876px) {
  .technology-block .technology-wrap p:nth-child(3) {
    display: none
  }
}

@media screen and (max-width: 1000px) {
  .social-buttons, h1.product-title {
    padding-bottom: 0;
    padding-left: 90px
  }

  .information-block {
    padding-top: 0;
    padding-left: 0
  }

  .about-head .information-block {
    display: none
  }

  h1.product-title {
    width: 100%;
    background: #e5e5e5;
    color: #666 !important
  }

  .about-head img.head-img {
    object-position: 65% 0
  }

  img.head-img {
    object-position: 65% 50px
  }

  a.popup-changer {
    background: #eceff1
  }

  .all-product, .social-buttons {
    padding-left: 90px;
    overflow: visible
  }

  .social-buttons {
    padding-top: 10px;
    position: absolute
  }

  .discount-block {
    padding: 15px 0;
    margin-bottom: 20px
  }

  .grid.margin {
    margin-bottom: 30px
  }

  .grid.margin .social-buttons {
    padding-top: 425px
  }

  .grid.margin .all-product {
    padding-top: 350px
  }
}

@media screen and (max-width: 768px) {
  h1.product-title {
    width: 100%;
    background: #e5e5e5;
    padding: 10px 0 10px 20px
  }

  .all-product, .social-buttons {
    padding-left: 30px
  }

  .social-buttons {
    position: absolute
  }

  .discount-block {
    padding: 15px 0
  }

  .grid.margin {
    margin-bottom: 20px
  }

  .grid.margin .social-buttons {
    padding-top: 405px
  }

  .grid.margin .all-product {
    padding-top: 325px
  }
}

@media screen and (max-width: 415px) {
  h1.product-title {
    width: 100%;
    padding: 10px 0 10px 20px;
    background: #e5e5e5
  }

  .social-buttons {
    position: absolute
  }

  .discount-block {
    padding: 15px 0
  }

  .grid.margin {
    margin-bottom: 20px
  }

  .grid.margin .social-buttons {
    padding-top: 395px
  }

  .grid.margin .all-product {
    padding-top: 320px
  }
}

@media screen and (max-width: 425px) and (min-width: 335px) {
  .grid.margin .social-buttons {
    padding-top: 415px
  }

  .grid.margin .all-product {
    padding-top: 340px
  }
}

@media screen and (max-width: 1000px) {
  .content-head.questions-page {
    padding-bottom: 200px
  }

  .grid.grid-pad.special-price {
    //padding: 0 25px 25px
  }
}

@media screen and (max-width: 660px) {
  .phone-and-consult {
    text-align: center;
    padding: 20px 0;
    background: #915a78;
    margin-bottom: 60px
  }

  .phone-and-consult p.text-to-phone {
    font-size: 16px;
    color: #fff;
    font-family: RobotoCondensedRegular
  }

  .phone-and-consult p.phone-number {
    font-size: 32px;
    color: #fff;
    font-family: RobotoCondensedRegular
  }

  .phone-and-consult p.phone-number:before {
    content: "";
    display: none;
    background: url(../images/phone-icon-big.png);
    width: 40px;
    height: 40px;
    position: relative;
    left: -34px;
    top: -3px
  }
}

@media screen and (max-width: 600px) {
  .flex-grid .row, .flex-grid .row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    min-height: auto
  }

  .flex-grid .row {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 40px 0
  }

  .flex-grid .row:nth-child(even) {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }

  .flex-grid .row .col-3-12, .flex-grid .row .col-9-12 {
    width: 100%
  }

  .flex-grid .row .col-3-12, .flex-grid .row:nth-child(even) .col-3-12 {
    text-align: center;
    display: none
  }

  .akcii--service{
    .rows{
      margin-top: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .akcii-content .grid.content {
    padding-left: 20px;
    padding-right: 20px
  }

  .shares-block {
    width: auto
  }

  .service-proc__title {
    font-size: 44px
  }

  .service-proc__sub-title {
    font-size: 26px
  }

  .services-category {
    background-size: 55%
  }

  .services-category-item__wrap {
    max-width: 250px
  }

  .services-category-item__link-title {
    font-size: 20px
  }

  .services-category-item__text {
    font-size: 14px
  }

  .poleznoe-link{
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .grid.grid-pad.akcii.flex-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .grid.akcii img.head-img {
    object-position: 55% 0
  }

  .stock-info {
    margin: 40px 0 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .stock-social {
    margin-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .stock-social-img {
    max-width: 130px
  }

  .stock-social-descr {
    max-width: 390px;
    margin: 0 0 0 20px
  }
}

@media screen and (max-width: 820px) {
  .services-category {
    padding: 60% 0 40px;
    background-position: center top;
    margin-top: 40px
  }

  .services-category-item {
    margin-top: 20px
  }
}

@media screen and (max-width: 768px) {
  .shares-block {
    width: 100%
  }

  .akcii-content .grid.content.bottom-border {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .akcii-content .grid.content {
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-bottom: 0
  }

  .akcii-content .grid.content .col-1-2 {
    padding-right: 0
  }
}

@media screen and (max-width: 660px) {
  .services-category {
    padding-top: 60%
  }

  .services-category-item__wrap {
    max-width: 240px
  }

  .poleznoe-block-item p{
    padding-right: 20px;
  }

  .about-helpful{
    padding-right: 0;
  }
}

@media screen and (max-width: 620px) {
  .services-category-item {
    width: 100%
  }

  .services-category-item:nth-child(n) {
    text-align: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }

  .services-category-item__wrap {
    max-width: 80%;
    margin: 0 auto
  }

  .rows {
    &--service{
      .row{
        padding: 20px 0 15px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .services-category {
    background-size: 85%;
    padding-top: 80%;
    padding-bottom: 40px
  }

  .service-proc__sub-title {
    margin-bottom: 40px
  }

  .services-category-item__wrap {
    max-width: none
  }
}

@media screen and (max-width: 1000px) {
  img.head-img.desctop {
    display: none
  }

  img.head-img.mobile {
    display: block;
    width: auto;
    object-fit: fill;
    min-height: auto;
    height: auto
  }

  img.head-img.over {
    left: ~'calc(50% - 300px)'
  }
}

@media screen and (max-width: 740px) {
  .test-1.test-2 p.about-testing {
    font-size: 20px
  }

  .footer-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .footer-block:nth-child(2) {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10;
    width: 100%;
    margin-top: 30px
  }

  .footer-block:not(:nth-child(2)) {
    width: auto
  }

  .footer-block:nth-child(2) li {
    margin-bottom: 5px
  }

  .footer-row {
    margin-top: 25px
  }

  .service-proc__title {
    font-size: 42px
  }

  .index-title{
    font-size: 42px;
  }

  .service-proc__sub-title {
    font-size: 22px
  }
}

@media screen and (max-width: 600px) {
  img.head-img.over {
    left: 0
  }

  .service-proc__title {
    font-size: 38px
  }

  .index-title{
    font-size: 38px;
  }

  .service-proc__sub-title {
    font-size: 18px
  }
}

@media screen and (max-width: 490px) {
  .test-1.test-2 p.about-testing {
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.4
  }

  .test-1 h3.block-name {
    font-size: 42px
  }

  .stock-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .stock-social-descr {
    margin: 20px 0 0
  }

  .attention-block p.text {
    font-size: 16px;
    line-height: 1.6;
  }
}
@media screen and (max-width: 420px) {
  .service-proc {
    margin: 0 20px;
    padding: 25px 15px 10px
  }

  .testing-wrap {
    padding: 0 20px
  }

  .video-wrap {
    margin: 40px 20px 0;
  }

  .footer-row, .footer-wrapper {
    padding: 0 20px
  }

  a.footer-link, p.footer-text {
    font-size: 14px
  }
}

@media screen and (max-width: 415px) {
  .all-product, .social-buttons {
    padding-left: 20px
  }

  .service-proc__title {
    font-size: 30px;
  }

  .index-title{
    font-size: 30px;
  }
}

@media screen and (max-width: 370px) {
  .col, .col:last-child, .footer-block:nth-child(n) {
    width: 100%;
    text-align: center
  }

  .footer-block:last-child {
    margin-top: 30px
  }

  .footer-block:nth-child(2) {
    width: 170px;
    margin: 30px auto 0
  }

  .footer-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .col:last-child {
    margin-top: 20px
  }
}