@media screen and (max-width: 840px) {
  .new-video{
    &__title{
      margin-top: 20px;
      font-size: 42px;
      letter-spacing: -1px;
      font-family: "RobotoCondensedRegular";
    }

    &__list{
      display: none;

      &--mobile{
        display: flex;
        max-width: 390px;
      }
    }

    &__item{
      padding: 0 1px;
    }

    &__btn-wrap{
      margin-top: 25px;
    }

    &__subscribe{
      display: none;

      &--mobile{
        display: block;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .fotorama__stage{
    max-height: 305px;
  }
}

@media screen and (max-width: 450px) {
  .all-videos{
    height: 220px;
  }

  .fotorama__stage{
    max-height: 280px;
  }
}


@media screen and (max-width: 360px) {
  .all-videos{
    height: 175px;
  }

  .fotorama__stage{
    max-height: 240px;
  }
}