@media screen and (max-width: 1024px) {
  .services-page{
    &__content-wrap{
    }

    &__block-title{
      font-size: 56px;
    }

    &__category-list{
    }
  }


  .test-block{
    &__text{
    }

    &__button{
    }
  }


  .category-item{
    &__title{
      font-size: 20px;
    }

    &__services-list{
    }
  }


  .strings-list{
    &__item{
    }

    &__link{
      &:hover{
      }
    }

    &__stock{
    }
  }
}

@media all and (max-width: 840px){
  .services-page{
    &__block-title-wrap{
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__test-wrap{
      padding: 20px 10px;
    }

    .test-block{
      &__text-wrap{
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
      }

      &__text{
        &--services{
          margin-right: 0;
        }
      }

      &__button{
        &--services{
          margin: 20px auto 0;
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .services-page{
    &__block-title{
      font-size: 50px;
    }

    .vertical-list{
      &:last-child{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .services-page{
    &__block-title{
      font-size: 44px;
    }
  }
}