@media all and (max-width: 768px){
  .title-block{
    height: 450px;

    &__title{
      font-size: 44px;
    }
  }
}
@media all and (max-width: 425px){
  .title-block{
    height: 300px;

    &__title{
      font-size: 24px;
    }
  }
}