@media screen and (max-width: 1170px) {
  .video-block{
    &__title{
    }

    &__text{
    }

    &__list{
    }

    &__item{
      &:nth-child(2n+3){
        margin: 45px 0 0 35px;
      }

      &:nth-child(2n+2){
        margin: 45px 35px 0 0;
      }

      &:hover{
        .play{
        }

        .video-block__video-name{
        }
      }
    }

    &__video-wrap{
    }

    &__video{
    }

    &__name-wrap{
    }

    &__video-name{
    }
  }

  .video_player {
    .play {

      &::after{
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .video-block__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 900px) {
  .video-block{
    &__item{
      &:nth-child(2n+3){
        margin: 45px 0 0 15px;
      }

      &:nth-child(2n+2){
        margin: 45px 15px 0 0;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .video-block{
    &__list{
      display: none;
      /*flex-direction: column;
      align-items: center;*/
    }
/*
    &__item{
      &:nth-child(n){
        margin: 45px 0 0;
      }
    }*/
  }

  .mobile-videos{
    display: block;
    margin-top: 40px;

    &__titular-video{
      max-width: 350px;
      margin: 0 auto;
      font-size: 0;
    }

    &__titular-preview-wrap{
      position: relative;

      &::after{
        content: '';
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        background: url(../img/play-hover.png) no-repeat;
      }
    }

    &__titular-preview{
      border-radius: 5px;
    }

    &__name-wrap{
      font-size: 20px;
      line-height: 1.2;
      font-family: RobotoCondensedRegular;

      &--titular{
        margin-top: 5px;
        font-size: 24px;
        line-height: 1.3;
        text-align: center;
      }
    }

    &__video-name{}

    &__subtitle{
      margin-top: 8px;
      font-size: 14px;
      line-height: 1.5;
      color: #666666;
      text-align: center;
    }

    &__list{
      margin-top: 15px;
    }

    &__item{
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid #CCCCCC;
    }

    &__preview-wrap{
      position: relative;
      align-self: flex-start;
      height: 80px;
      width: 130px;
      max-width: 45%;
      flex-grow: 1;
      font-size: 0;
      border-radius: 3px;
      overflow: hidden;

      &::after{
        content: '';
        position: absolute;
        left: 5px;
        bottom: 5px;
        width: 30px;
        height: 30px;
        background: url(../img/play-hover.png) no-repeat center / cover;
      }
    }

    &__preview{
      margin-left: -17%;
      max-width: 134%;
      min-height: 100%;
    }

    &__links-wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 6;
      width: ~'calc(100% - 20px)';
      padding-left: 20px;
    }

    &__service-link{
      margin-top: 16px;
      font-size: 16px;
      line-height: 1;
      color: #666666;
    }
  }
}

@media screen and (max-width: 740px){
  .video-block__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px){
  .video-block{
    &__title {
      font-size: 44px;
    }
  }
/*
  .video-item{
    &__name-wrap{
      margin-top: 15px;
    }
  }*/
}

@media screen and (max-width: 450px){
/*  .video-item{
    &__video-wrap{
      &--main{
        height: 180px;
      }
    }
  }*/
}

@media screen and (max-width: 360px){
/*  .video-item{
    &__video-wrap{
      height: 135px;
    }
  }*/
}